# Python's Code Basics

## Rules for Variable Names:

A variable name must start with a letter or the underscore character 

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

In [1]:
# variable name = value   (=: assign this value to this variable)  
a = 1
a

1

In [2]:
#0a = 2
#How to check error message?

In [3]:
age = 12
Age = 15
print(age)
print(Age)
# Age and age are different variables

12
15

## The print Statement

The **print** statement can be used in the following different ways :

    - print("Hello World")   which is printing out a string variable
    - print("Hello", String Variable)   
    - print("Hello" + String Varialbe)

In [4]:
print("Hello World")

Hello World

In [5]:
string1 = "World"
string2 = "!"

In [6]:
print(string1)

World

In [7]:
print(string2)

!

In [8]:
print("Hello", string1)  #notice that there is an added space between Hello and world

Hello World

In [9]:
print("Hello", string1, string2) #notice that there is an added space between Hello, world, and !

Hello World !

In [10]:
print("Hello" + string1 + string2) #Concatenation (+) is the addition for strings, so no added space between strings

HelloWorld!

## Different Types of Variables in Python:
## strings, numerical (integers, floats), boolean (True or False)

### Strings

In [11]:
# is used for writing notes on your codes. 
# This is extremely important for future reference. You will thank yourself when you check your own code even days later. 

var_string1 = 'Accounting Data Analytics'  #string: characters/phrases/sentences but put '' around string so that Python knows.
var_string2= "Accounting Data Analytics" # you can use either '' or ""

#comment the entire cell: control + /

In [12]:
print(var_string1)  #tells Python to print out the string, var_string will then print out the value that's assigned to the variable
print(var_string2)

Accounting Data Analytics
Accounting Data Analytics

In [13]:
# what if there is a ' inside you string?
var_string3= "Python's Magic" 
print(var_string3)

Python's Magic

In [14]:
#same thing for ""
var_string4= ' "I hope we can pass the final exam," he said.'
print(var_string4)

 "I hope we can pass the final exam," he said.

In [15]:
ID = 1234
Name = "Tom"

In [16]:
print('my ID number is {}, and my name is {}'.format(ID,Name)) 
#use .Tab to search for the available functions

my ID number is 1234, and my name is Tom

In [17]:
my_string = 'Hello world, I am learning #IADA'

In [18]:
my_string.lower()  #shift+Tab for help

'hello world, i am learning #iada'

In [19]:
my_string.upper()

'HELLO WORLD, I AM LEARNING #IADA'

In [20]:
my_string.split()

['Hello', 'world,', 'I', 'am', 'learning', '#IADA']

### Booleans (True or False)

In [21]:
x = True   #boollean variable: either True or False
x
#If you want to execute a section of code: click on the section, and use: ctrl + enter to run this code.

True

In [22]:
False

False

In [23]:
#How to check the data type of a variable?
type(x)

bool

## Operators

### Arithmetic operators

| Symbol | 	Name |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [24]:
# you could use Python as a calculator
a = 7
b = 3
print(a+b)

10

In [25]:
print(a+b, a-b, a/b, a%b, a*b, a//b, a**b)

10 4 2.3333333333333335 1 21 2 343

### Comparison Operators
essentially checks the relation between two variables:
e.g., whether one is bigger/smaller/equal to the other one. 

then returns True or False

| Symbol | 	Name |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [26]:
z = 1   

#be very careful with  = versus == 

# =: assign 1 to the variable of z
#==: checking if Z is equal to something: the output will be either true or false (a Boollean variable). 

z  # this "calls out" our variable z and print out the value it has been assigned to

1

In [27]:
z == 2  # checking if z is equal to 2. if yes, returns True.

False

In [28]:
z >= 1

True

### Logical Operators

Logical operators are used to combine conditional statements:

| Symbol | Description |
|----|---|
| and  |Returns True if both statements are true |
| or  | 	Returns True if one of the statements is true |
| not  | 	Reverse the result, returns False if the result is true |

In [29]:
True or False

True

In [30]:
False or False

False

In [31]:
True and False # And: you need all parts to be true: to output True

False

In [32]:
a = 1
b = 2
(a == 3) or (b == 2)   #two relational operators: ==, use ()

True

In [33]:
a == 3 or b == 2 
# Python always calculate comparison operators before logical operators, so there is no need to add brackets

True

## Data Structures

##### List (one of the most commonly used data structures in Python)

##### list can contain all different types of objects: string, integer, float, etc. (each object needs to be separated with comma)

##### To tell python that this is a list: use squared parenthesis [object 1, object 2, object3]

In [34]:
a = []   # now a is an empty list
a

[]

In [35]:
x = ["apple", 'orange', 25, True]   # list can contain all different types of objects: string, integer, float, etc. 
# (each object needs to be separated with comma)
x

['apple', 'orange', 25, True]

#### You can do a lot of fun things with lists

In [36]:
x = ["apple", 'orange', 25, True] 
# you access values by indexing the position of an object
#(the first object is of index 0, the last object can be accessed as -1)
# counting from the beginning: 0, 1, 2, 3 (index)
# counting from the end: -4, -3, -2, -1 (counting backward)
print(x[0], x[3], x[-1], x[-4])

apple True True apple

In [37]:
# you can change the value of elements by assignment (=)
x = ["apple", 'orange', 25, True] 
x[3] = "new value"  # I changed the value of x[3] from a bollean True to a string "new value"
print("new value at the index 3 = ", x[3])
print(x)

new value at the index 3 =  new value
['apple', 'orange', 25, 'new value']

In [38]:
# you can take a slice of the list 
#x[start:stop]   will extract the list elements between start and stop-1 !!
# note: stop (not inclusive)
x = ["apple", 'orange', 25, True] 
print(x[1:3])
print(x[1:4])

['orange', 25]
['orange', 25, True]

In [39]:
# print(x[4])

In [40]:
# if you don't specify the start or the stop: 
# then by default: Python will start from the first element and end with the last element
x = ["apple", 'orange', 25, True] 
print(x[:2])  # did not specify the start
print(x[0:2])

['apple', 'orange']
['apple', 'orange']

In [41]:
x = ["apple", 'orange', 25, True] 
print(x[2:])  # did not specify the stop - go to the end of the list and include the last object
print(x[:]) # did not specify the start or stop: print out the whole list

[25, True]
['apple', 'orange', 25, True]

### Some useful functions to perform on lists: Append, insert

you can dynamically append elements and insert elements at specific places

In [42]:
x = [2, 4, 'orange', "haha"]

# append: adding a new object to the end of our existing list
# list.append()   put the object that you want to append in the parenthesis

x.append("new value")
print(x)

[2, 4, 'orange', 'haha', 'new value']

In [43]:
x.append(3)  # this will keep appending 3 to the new list.
print(x)

[2, 4, 'orange', 'haha', 'new value', 3]

In [44]:
#inserting at a specific position
# list.insert(index, value): index tells Python where you want to put the new value
x.insert(0, "value at the begining")
print(x)

['value at the begining', 2, 4, 'orange', 'haha', 'new value', 3]

In [45]:
x.insert(1, "this is the second object")
print(x)

['value at the begining', 'this is the second object', 2, 4, 'orange', 'haha', 'new value', 3]

### Removing elements from a list
using clear(), pop(), remove() and del. 
* Remove all items: clear()
* Remove an item by index and get its value: pop()
* Remove an item by value: remove()
* Remove items by index or slice: del

In [46]:
my_list = ['value at the begining', 2, 4, 'orange', 'haha', 'new value', 3]
my_list

['value at the begining', 2, 4, 'orange', 'haha', 'new value', 3]

In [47]:
list1 = my_list 
list1.clear()
list1

[]

In [48]:
my_list

[]

In [49]:
my_list = ['value at the begining', 2, 4, 'orange', 'haha', 'new value', 3]
list1 = my_list.copy()
list1.clear()

In [50]:
print(list1)
print(my_list)

[]
['value at the begining', 2, 4, 'orange', 'haha', 'new value', 3]

In [51]:
list2 = my_list.copy()
list3 = my_list.copy()
list4 = my_list.copy()

In [52]:
list2.pop(0)
list2

[2, 4, 'orange', 'haha', 'new value', 3]

In [53]:
list3.remove('haha')
list3

['value at the begining', 2, 4, 'orange', 'new value', 3]

In [54]:
del list4[0]
list4

[2, 4, 'orange', 'haha', 'new value', 3]

#### List of lists: the objects of a list can be lists

In [55]:
x = [2, 'orange']  # x is a list
y = ['carrot','potato'] # y is another list

k=x+y   # + concatenate two lists: two lists combined into 1 single list 
print(k)

z = [x,y]  # z has two objects, both of them are lists. z is now list of lists
print(z)
# notice the subtle difference between k and z

[2, 'orange', 'carrot', 'potato']
[[2, 'orange'], ['carrot', 'potato']]

In [56]:
k[1]

'orange'

In [57]:
z[1]

['carrot', 'potato']

#### Built in List Functions

* length of a list, the minimum and maximum (if numerical list)

In [58]:
# get the length of a list: 
#len (list name) : this length function will output the length of the list

num = [0.3, 3, 5, 8.5, "a"]

len(num) # length =5: meaning that there are 5 objects in the list called num

5

In [59]:
# min(num)

In [60]:
# for minimum and maximum: we have to remove the string "a" first: can only perform the max/min for lists containing of all integers/floats
del num[-1]   #-1: means the last object in the list. 
print(num)

[0.3, 3, 5, 8.5]

In [61]:
print("minimum and maximum: ", min(num), " and ", max(num))
# last thing: if you want to clear all the output and restart the kernel
# click on Kernel  - restart kernel and clear all outputs

minimum and maximum:  0.3  and  8.5

## if,elif, else Statements

In [62]:
x = 4

if x > 5:    # if the statement is true: then perfrom the following action. Otherwise, do nothing.
    print('x is greater than 5')

In [63]:
x = 4

if x == 5:
    print('x equals 5')
else:      # for all other cases where x is not equal to (!=) 5, perform the following action: 
    print('x does not equal to 5')

x does not equal to 5

In [64]:
x = 4

if x == 5:
    print('x equals 5')
elif x > 5:
    print('x is bigger than 5')
else:      # for all other cases where x is not equal to (!=) 5, perform the following action: 
    print('x is smaller 5')

x is smaller 5

### Python Indentation
Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

In [65]:
# # Error 
# x = 4
# if x == 5:
#     print('x equals 5')
#     else:
#         print('x does not equal to 5')

## for Loops

In [66]:
for num in [1,2,3,4,5]:
    print(num)

1
2
3
4
5

In [67]:
for num in range(5):
    print(num)

0
1
2
3
4

In [68]:
for num in range(5):
    print(num+1)

1
2
3
4
5

In [69]:
list_of_lists = [[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]]

for sub_list in list_of_lists:
    print(sub_list)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [70]:
list_of_lists = [[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]]

sub_list=list_of_lists[0]
sub_list

[1, 2, 3]

In [71]:
list_of_lists[0][0]

1

In [72]:
list_of_lists[0][1]

2

In [73]:
# double for-loop
for sub_list in list_of_lists:
    
    for my_object in sub_list:
        
        print(my_object)

1
2
3
4
5
6
7
8
9

## list comprehension
Python List comprehension provides a much more short syntax for creating a new list based on the values of an existing list.

In [74]:
x = [1,2,3,4,5]
my_list = [] 
for i in x:
    my_list.append(i*3)
print(my_list)

# we can do all this in one line

[3, 6, 9, 12, 15]

In [75]:
[y*3 for y in [1,2,3,4,5]]

[3, 6, 9, 12, 15]

## Function

### you can write your own functions in Python 

Function: you give me some inputs, the function will output some results. 

### Python Grammar: 

def   function_name(input1, input2, input3...):

(here you define what your function does to the inputs: input1 2 and 3)

return output

### After you have defined your function, to use a function, just write down:
function_name (input1, input2, input3)  

An example of function that multiply two inputs:

In [76]:
def multiply(x, y):   # our function's name is multiply(). it takes two inputs, x, and y.
    c = x*y    # our function will multiply the two numbers
    return c  # our function will output the result of the multiplication.

In [77]:
multiply(2,4)

8

In [78]:
multiply (3,5)

15

In [79]:
#now suppose we want to check if the multiply of 2 integers is greater than 15
def multiply_biggerthan12(x, y):   # our function's name is multiply(). it takes two inputs, x, and y.
    c = x*y    # our function will multiply the two numbers
    return c>12  # our function will output a boollean variable which tells us if x*y is greater than or equal to 15

In [80]:
multiply_biggerthan12(3,5)

True